<!DOCTYPE html>
<html>
    <head>
        <!-- Linking the CSS -->
        <link rel="stylesheet" href="/CSS/Style.css">
    </head>

    <body>
        <h1>Weather</h1>

        <!-- Weather Form -->
        <form class="weather_form">
            <label>Please enter a location!</label>
            <br><br>
            <input type="text" placeholder="Location" id="weather_location">
            <button type="submit" id="submit_weather">Search</button>
        </form>
        <p id="message_one"></p>


        <!-- Linking the Client Side JS -->
        <script src="/Client Side JS/Client.js"></script>
    </body>
</html>